td, tr, img  { padding: 0px; margin: 0px; border: none; }
table { border-collapse: collapse; }
td, img {
    width: 20px;
    max-width: 20px;
    height: 20px;
    max-height: 20px;
}

img {
    display: block;
}