td, tr, td div {
    padding: 0px;
    margin: 0px;
    border: none;
}

table {
    border-collapse: collapse;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

td, div {
    width: 20px;
    max-width: 20px;
    height: 20px;
    max-height: 20px;
}

td div {
    background-size: 20px 20px;
}
